.row{
    margin-left: 20px;
    color: #fff;

}

.row .posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    -webkit-animation: scaledown .2s ease;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;

}

.poster:hover{
    z-index: 100;
    -webkit-animation: scale 0.3s ease ;
    animation: scale 0.3s  linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}

@keyframes scaledown {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale{
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        box: shadow 10px 10px 60px 10px rgba(0, 0, 0, 0.3);
    }
}

.small-poster{
    cursor: pointer;
    max-height: 180px;
    border-radius: 10px;
    margin-right: 10px;
}
